{% extends 'layout/base.html.twig' %}

{% block title %}Home | Knowledge!{% endblock %}

{% block body %}

<div class="card border-0">
    <div class="card-header">
        <h5 class="card-title">
            Basic Table
        </h5>
    </div>
    <div class="card-body">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testeId">
    Launch demo modal
    </button>
        <twig:Bootstrap:Modal:ModalXL titulo="Teste Titulo" id="testeId"> 
            <h3>Conteudo do Modal</h3>

        </twig:Bootstrap:Modal:ModalXL>
    </div>
</div>

{% endblock %}


