{% extends 'layout/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="card border-0">
    <div class="card-header">
        <h5 class="card-title">
            Basic Table
        </h5>
    </div>
    <div class="card-body">
        <h1>Hello {{ controller_name }}! ✅</h1>
    <button data-controller="tooltip" type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
    Tooltip on top
    </button>
    
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/alexandre/projetos/pessoal/knowledge/src/Controller/Web/Home/HomeController.php</code></li>
        <li>Your template at <code>/home/alexandre/projetos/pessoal/knowledge/templates/web/home/home/index.html.twig</code></li>
    </ul>
    </div>
</div>

{% endblock %}


