<nav class="navbar navbar-expand px-3 border-bottom">
    <button class="btn" id="sidebar-toggle" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse navbar">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                    <img src="{{ asset('img/img_default_user.png') }}" class="avatar rounded" alt="" />
                </a>
            
                <div class="dropdown-menu dropdown-menu-end">
                    <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testeId">
                        <i class="bi bi-gear-fill"></i> Administração
                    </button>
                    <a href="#" class="dropdown-item">
                        <i class="bi bi-door-open-fill"></i> Sair
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
