<aside id="sidebar" class="js-sidebar">
    <!-- Content For Sidebar -->
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="#">Knowledge</a>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="bi bi-pie-chart-fill pe-2"></i>
                    Dashboard
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ path('app_web_artigo') }}" class="sidebar-link">
                    <i class="bi bi-file-earmark-text-fill pe-2"></i>
                    Artigos
                </a>
            </li>
        </ul>
    </div>
</aside>